body {
    background: url(background.png);
    font-family: 'Montserrat';
}

canvas {
    border: 2px black solid;
    border-radius: 20px;
}

#heading {
    text-decoration: underline;
}

#name-input {
    font-size: 20px;
    width: 50%;
    text-align: center;
}